


header {

}

/*
nav {
	text-align: center;
}
*/

li {
	padding: 5px 10px 5px 10px;
	display: inline;
	text-align: center;
	color: white;

}

ul {
	padding: 15px 10px 15px 10px;
    background: black;

}
body {
  /* #ccc is shorthand HEX for a light grey */
  background: #ccc;
}



 /*is is everything i need for the body */
.wrappper {
	display: flex;
	flex-flow: row wrap;
}

.body section {
	background: pink;

}


.body h1 {


	background: red;
}


aside {
    padding: 1em;
    background: pink;
    margin: 10px; 

    display: flex;
    flex: 1;


}
.body aside {
    padding: 1em;
    background: #ddd;
    margin: 10px; 


    flex: 1;


}

.body section {
    padding: 1em;
    background: green;
    margin: 10px; 


    flex: 3;
}

