


header {

}



li {
	padding: 5px 10px 5px 10px;
	display: inline;
	text-align: center;
	color: white;

}

ul {
	padding: 15px 10px 15px 10px;
    background: black;

}
body {
  /* #ccc is shorthand HEX for a light grey */
  background: rgb(98, 132, 188);
	background: -webkit-linear-gradient(rgb(98, 132, 188) );
	background: -moz-linear-gradient(rgb(98, 132, 188) );
;
}

h3 {
	color: rgb(211, 228, 255);
}
.left-side h3 {
	padding-left: 60px;
	color: rgb(211, 228, 255);
}
.right-side h3 {
	text-align: center;
}

 /*is is everything i need for the body */

/* z order specifies stack order  */ 
#content {
	width:100%;
	padding: 0;
	position: relative;
	z-index: 1; 
}

.mid-body {
	width:100%; 
	/*opacioty */
	background: rgba(14, 14, 15, .60) ; 
	background: -webkit-linear-gradient(rgba(14, 14, 15, .60) );
	background: -moz-linear-gradient(rgba(14, 14, 15, .60) );
}

.main {
	width: 980px;
	padding: 0;
	margin: 0 auto;
	font-size: 25;

}
.container{
	margin-left: auto;
	margin-right: auto;
	width: 980px;
}
.wrapper {
	width:100%;
	position: relative;
	/* hides overflow */
	overflow: hidden;
}


.mid-left-body {
	width: 300px;
	display: inline;
	float: left;
	position: relative;
	margin: 10px;
}

.mid-mid-body {
	width: 100%;
	background: blue;
}
.background {
	background-image: url("../images/background.jpg");
	background-position: center;
	background-size: cover;
}



.inner-box{
	width: 100%;
		background: rgba(14, 14, 15, .60) ; 
	/*background: white;*/

}
.padding {
	padding: 30px 0px 30px;
}
.another-container {
	margin
}
.sidebyside {
	width: 980px;
}

.container .left-side {
	width:570px;
	margin-left: 10px;
}
.container .right-side {
	width: 330px;
	margin-right:0;
}

.left-side {
	display: inline;
	float: left;
	position: relative;
	margin-right: 10px;
}
.right-side {
	display: inline;
	float: left;
	position: relative;
	margin-left: 10px;
}
.right-side p {
	color: rgb(211, 228, 255);

}

.h3mod {
	color: rgb(211, 228, 255);

}


a:link    {color:white; background-color:transparent; text-decoration:none}
a:visited {color:white; background-color:transparent; text-decoration:none}
a:hover   {color:red; background-color:transparent; text-decoration:underline}
a:active  {color:white; background-color:transparent; text-decoration:underline}


/* formating mainly for aboutme page */

.container .left-side-1 {
	width:370px;
	margin-left: 10px;
}
.container .right-side-1 {
	width: 550px;
	margin-right:0;
}

.left-side-1 {
	display: inline;
	float: left;
	position: relative;
	margin-right: 10px;
}
.right-side-1 {
	display: inline;
	float: left;
	position: relative;
	margin-left: 10px;
}
.right-side-1 p {
	color: rgb(211, 228, 255);

}




/* experiance section */

.background-ex {

	background-image: url("../images/background.jpg");
	background-position: center;
	background-size: cover;
	height: 250px;


	/*
	background-position: center;
	background-color: rgb(96, 121, 163);
	padding-bottom: 20px;
	*/
}

.wk  {
	color: rgb(211, 228, 255);
	margin-left: 20px;
}
.h3mod-ex {
	color: rgb(211, 228, 255);

	margin-left: 20px;
}
	
#img-page-bg {
	background-color: 	rgb(165, 199, 255);
}

/*image page */


.content {
    display: flex;

    margin: 10px;
}

.content section {

	padding: 1em;
    background: rgb(57, 81, 119);
    background: -webkit-linear-gradient(rgb(57, 81, 119) );
	background: -moz-linear-gradient(rgb(57, 81, 119) );
    margin: 10px; 
    border-radius: 10px;

  	display: flex;
  	align-items: center;
  	justify-content: center;

    flex: 3;
}

.content img{
    max-width: 290px;
    max-height: 290px;

    border: 4px solid rgb(66, 77, 94);
    border-radius: 10px;
    

        opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}

.content img:hover{
    transform: scale(1.5, 1.5);
    opacity: 1;
    
}
/* media querys */


@media (max-width: 900px) {


	.content {
	    display: block;

	    margin: 10px;
	}

	.wrapper {
	/* hides overflow */
		display: inline-block;
		margin: 10px;
		width: 650px;
		height: 200px;
		/* over flow */
		
		position: relative;
		/* hides overflow */
		overflow: hidden;



	}
	.container{
		margin-left: auto;
		margin-right: auto;
		width: 900px;
		height: 200px;
	}

	.container .wrapper .sidebyside .wrapper {
		display: flex;
		height: 900px;


	}
	.inner-box{
		width: 600px;
		height: 900 auto;
		background: rgba(14, 14, 15, .60) ; 
		background: -webkit-linear-gradient(rgba(14, 14, 15, .60) );
		background: -moz-linear-gradient(rgba(14, 14, 15, .60) );
		/*background: white;*/

	}
	.padding {
		padding: 0;
	}

}

.enlarge {
	height: 400px;
}

@media (max-width: 414px) {


	.content {
	    display: block;

	    margin: 10px;
	}

	.wrapper {
	/* hides overflow */
		display: block;
		margin: 10px;
		width: 414px;
		height: 200px;
		/* over flow */
		
		position: relative;
		/* hides overflow */
		overflow: hidden;
	}
	.container {
		margin-left: auto;
		margin-right: auto;
		width: 900px;
		height: 200px;
	}

	.container .wrapper .sidebyside .wrapper {
	display: flex;
		height: 900px;


	}
	.inner-box{
	width: 414px;
	background: rgba(14, 14, 15, .60) ; 
	background: -webkit-linear-gradient(rgba(14, 14, 15, .60) );
	background: -moz-linear-gradient(rgba(14, 14, 15, .60) );
	/*background: white;*/

	}
	.padding {
	padding: 0;
	}
}


.shit {
	color: red;
}

