/* Add your CSS below */

/* Example: adding a background color to the HTML body */
body {
  	/* #ccc is shorthand HEX for a light grey */
 	background: white;
}
header {
	text-align: center;



}
 /* unordered list */
ul {
	padding: 15px 10px 15px 10px;
    background: lightgrey;

}
/* listed items    */
li {
	padding: 5px 10px 5px 10px;
	display: inline;

	font-family: Copperplate, "Copperplate Gothic Light", fantasy;;
	text-align: center;
	color: blue;
	font-weight: bold; 
	font-weight: 900;

	background: pink;
	border: groove;
	border-color: green;


}
section {
	padding: 0px 20px 0px 20px;


}
p {
	padding: 0px 20px 0px 20px;
}